.container {
    width: 80%;
    max-width: 768px;
    margin: 5% auto 0;
    font-family: 'Open Sans';
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    width: 80%;
    padding: 10px;
}
.titleForm {
    font-size: 1.3rem;
    text-align: center;
}

.form-control {
    display: flex;
}

form label, form input, form select {
    float: left;
    margin-top: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
form input {
    width: 75%;
}
label {
    width: 20%;
    font-weight: bold;
}
form input[readonly="1"] {
    text-align: center;
    background: e0e0e0;
    border: 1px solid #b0b0b0;
}
input[type='submit'] {
    margin: 1rem auto;
    width: 200px;
}